@import "utils/_variables.scss";
@import "utils/_polices.scss";
@import "utils/_global.scss";
@import "utils/_mixins.scss";

@import "layout/_navigation.scss";
@import "layout/_container.scss";
@import "layout/_footer.scss";
@import "layout/_formulaire.scss";
@import "layout/_table.scss";
@import "layout/_card.scss";