/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(71, 71, 71);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $couleurNav;
    border-radius: 20px;
    border: 3px solid rgb(44, 44, 44);
  }

* {
margin: 0;
padding: 0;
box-sizing: border-box;
  }

body {
    background-color: #fff;
    // font-family: "Roboto", sans-serif;
}


.global-container{
    display: grid;
    grid-template-columns: 250px 1fr;
  }

.darkGlobal{
  background: $couleurContainerDarkMode;
  color: $couleurTextDarkMode;
}