$tailleHeader: 75px;
$couleurNav: #0e203f;

$couleurGris: #e3e8f0;


$couleurTextDarkMode: #f1f1f1;
$couleurContainerDarkMode: #212121;
$couleurSideBarDarkMode: #262626;
$couleurNavDarkMode: #464646;
