.cardPerso{
    border: 2px solid $couleurGris;
    position: relative;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 8px;

}

.cardPost{
    transition: all 500ms ease-in-out;
    &:hover{
        transform: translateY(-10px);
        transition: all 400ms ease-in-out;
    }
}

.card-header{
    border-bottom: 2px solid $couleurGris;
    img{
        margin: 16px;
    }
}

.card-contenu{
    white-space: break-spaces;
    margin: 16px;
}

.card-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: grey;
}