.main-container{
    grid-column: 2;
    margin: 1rem;
}

@include responsive(mobile){
    .global-container{
        grid-template-columns: 1fr;
    }

    .sideBar{
        display: none;
    }

    .main-container{
        grid-column: 1;
    }
}