.main-container{
    grid-column: 2;
    margin: 2rem !important;
}

.icons{
    cursor: pointer;
}

.col{
    margin-left: 0 !important;
}

.margin1REM{
    margin: 1rem;
}

.centrerContainer{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.flexColumn {
    flex-direction: column;
}

.profilIcon{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}


@include responsive(mobile){
    .global-container{
        grid-template-columns: 1fr;
    }

    .sideBar{
        display: none;
    }

    .main-container{
        grid-column: 1;
    }
}