//Header
header{
    display: flex !important;
    justify-content: space-between;
    background-color: $couleurNav;
    font-size: 20px;
    .menu{
        display: flex;
        .item{
            padding: 2rem;
            cursor: pointer;
            color: white;
            a {
                color: white
            }
            &:hover{
                box-shadow: 0px 4px 0px 0px #7baeff
            }
        }
        .textNav{
            color: white;
            padding: 2rem;
        }
    }
}

.headerDarkMode{
    background-color: $couleurNavDarkMode;
}

nav{
    background-color: $couleurNav;
    i {
        @include responsive(mobile){
            font-size: 40px !important;
        }
    }
}


//SideBar
.sideBar {
    position: fixed;
    width: 250px;
    height: 100%;
    border-right: 2px solid $couleurGris;
    background-color: #fdfdff;
    line-height: normal;
}

.darkSideBar {
    background-color: $couleurSideBarDarkMode;
}

.darkSideBar-user{
    color: $couleurTextDarkMode !important;
}

.sideBar-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    @include responsive(mobile){
        margin: 1rem;
    }
}

.sideBar-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 30px;
    
    img {
        cursor: pointer;
        width: 100%;
        // height: 20px;
    }

    h1{
        color: black;
        margin-left: 10px;
        font-size: 30px;
        font-weight: 500;
    }
}

.bloc-link {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #838f9f;
    text-decoration: none;
    padding: 20px 30px;
    cursor: pointer;
    &:hover{
        background: #f8f8f8;
    }

    i {
        line-height: normal !important;
        height: fit-content !important;
    }
    &.active{
        background: #e9e9e9;
        .nav-links {
            color: #35b970;
            font-weight: 500;
        }
    }
}

.darkBloc-link {
    color: $couleurTextDarkMode !important;
    &:hover{
        background: #1c1c1c !important;
    }
    &.active{
        background: #1c1c1c !important;
    }
}

.nav-links{
    margin-left: 14px;
}

.navMobile{
    @include responsive(mobile) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.sidenav{
    font-size: 25px;
}